<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.montoya.focalpoint">

    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" tools:ignore="ProtectedPermissions" />

    <application
        coreApp="true"
        android:sharedUserId="android.uid.system"
        android:allowBackup="true"
        android:icon="@drawable/f_p_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainMenuActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".AboutActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".FocusTipsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".StartFocusingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ViewPerformanceActivity"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".LockedActivity"
            android:screenOrientation="portrait"></activity>
   <service android:name=".DestroyService"/>
    </application>

</manifest>
